#recommended-books {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    margin: 20px 0;
}

#recommended-list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}




/* スマホ対応 */
@media (max-width: 768px) {
    .book-carousel {
        flex-direction: column; /* 縦並びに切り替え */
        align-items: center; /* 真ん中に寄せる */
    }

    .book {
        width: 90%; /* スマホでは幅を広げる */
    }
}